<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.alfred.stephenc.defaultvolume</string>
	<key>category</key>
	<string>Utilities</string>
	<key>connections</key>
	<dict>
		<key>43A6CD96-D7EC-4240-B468-7192CC4D0136</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>441AA587-9660-4850-9D6D-A48FAFAFEE94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>441AA587-9660-4850-9D6D-A48FAFAFEE94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B553A2C-1D7C-4D0C-8F85-C03A2981E8FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BE61F04D-799C-4533-B1F4-CD168DF9325E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>552920F6-1D06-4A8F-BD1B-DCDCFEAA2768</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B553A2C-1D7C-4D0C-8F85-C03A2981E8FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FC9534A-48E6-49F8-BE3E-98C35EBBAA72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Christy</string>
	<key>description</key>
	<string>Set default output volume</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Default volume</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set theQuery to item 1 of argv
  set volume output volume theQuery
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FC9534A-48E6-49F8-BE3E-98C35EBBAA72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set output volume to {var:defaultVol}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43A6CD96-D7EC-4240-B468-7192CC4D0136</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:defaultVol}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8B553A2C-1D7C-4D0C-8F85-C03A2981E8FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:defaultVol}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>3</integer>
						<key>matchstring</key>
						<string>101</string>
						<key>outputlabel</key>
						<string>Pass</string>
						<key>uid</key>
						<string>BE61F04D-799C-4533-B1F4-CD168DF9325E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>441AA587-9660-4850-9D6D-A48FAFAFEE94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>OK</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>You have set the default volume, in the User Configuration, to {var:defaultVol}. That figure cannot exceed 100.</string>
				<key>title</key>
				<string>Error setting default volume</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>552920F6-1D06-4A8F-BD1B-DCDCFEAA2768</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Usage

Type `defvol` (or other keyword if you have changed the default) and ⏎ to reset the sound output of your Mac to the default. You can change the default sound level here in the User Configuration to anything between 0 (which means muted) to 100 (the meximum). Note that if you try to set it higher than 100 the workflow will give an error message.</string>
	<key>uidata</key>
	<dict>
		<key>3FC9534A-48E6-49F8-BE3E-98C35EBBAA72</key>
		<dict>
			<key>note</key>
			<string>Set the required default volume</string>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>43A6CD96-D7EC-4240-B468-7192CC4D0136</key>
		<dict>
			<key>note</key>
			<string>Keyword to launch workflow</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>441AA587-9660-4850-9D6D-A48FAFAFEE94</key>
		<dict>
			<key>note</key>
			<string>Check default level in User Config. is not &gt;100</string>
			<key>xpos</key>
			<real>222</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>552920F6-1D06-4A8F-BD1B-DCDCFEAA2768</key>
		<dict>
			<key>note</key>
			<string>…if it is give an error message</string>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>8B553A2C-1D7C-4D0C-8F85-C03A2981E8FD</key>
		<dict>
			<key>note</key>
			<string>Pass on the default volume</string>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>defvol</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The default keyword to run this workflow "defvol”. You can change it here.</string>
			<key>label</key>
			<string>Workflow keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>25</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This is the level at which you normally prefer your output volume to be set. 0 is muted and 100 is the maximum. If you try to set the volume level higher than 100 the worflow with give an error message.</string>
			<key>label</key>
			<string>The default volume</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>defaultVol</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
